Repository AuroraEditor/AuroraEditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AuroraEditor/team, @AuroraEditor/founder, @AuroraEditor/cli, @AuroraEditor/editor, @AuroraEditor/lsp, @AuroraEditor/inspector, @AuroraEditor/user-experience, @AuroraEditor/user-interface, @AuroraEditor/version-control

Clean up Notification Toast view
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Notifications/UI/NotificationToastView.swift
  AuroraEditor/Base/Workspace/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Utils/Extensions/View.swift
  AuroraEditor/Utils/Modifiers/FontWithLineHeight.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Show notification toast when a new info notification has been added
  AuroraEditor/Base/Notifications/Model/NotificationObserver.swift
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
  AuroraEditor/Base/Notifications/Protocols/INotification.swift
  AuroraEditor/Base/Notifications/UI/NotificationToastView.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
  AuroraEditor/Base/Workspace/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @AuroraEditor/founder

Allow user to ignore notifications
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
  AuroraEditor/Base/Notifications/UI/NotificationViewItem.swift
Owners: @AuroraEditor/user-interface

Users can now make sure notifications don't show again
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
  AuroraEditor/Base/Notifications/UI/NotificationViewItem.swift
  AuroraEditor/Base/Storage/AccountStorage.swift
  AuroraEditor/Base/Storage/LocalStorage.swift
  AuroraEditor/Base/Storage/WorkspaceStorage.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Cleanup project
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/sort-Xcode-project-file.pl
Owners: @AuroraEditor/team

Check SwiftLint version
  Aurora Editor.xcodeproj/project.pbxproj
Owners: @AuroraEditor/team

Check SwiftLint version (#423)
  Aurora Editor.xcodeproj/project.pbxproj
Owners: @AuroraEditor/team

Fixed some swiftlint errors
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/About/UI/AboutView.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+AuroraTheme(Old).swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/FileCreation/Model/FileCreationModel.swift
  AuroraEditor/Base/FileCreation/UI/FileCreationSelectionView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface, @AuroraEditor/editor

Fix #236
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/InspectorSidebar/UI/InspectorSidebar.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Remember if InspectorSidebar is open or not. (#422)
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/InspectorSidebar/UI/InspectorSidebar.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Fixed some swiftlint errors (#424)
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/About/UI/AboutView.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+AuroraTheme(Old).swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/FileCreation/Model/FileCreationModel.swift
  AuroraEditor/Base/FileCreation/UI/FileCreationSelectionView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface, @AuroraEditor/editor

Fix #236
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
  AuroraEditor/Utils/Extensions/View.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Implement memorization of splitItemView size
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Fix
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Remove unused code
  AuroraEditor/Utils/Extensions/View.swift
Owners: @AuroraEditor/team

Update comments
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/user-interface

Fix lint issue
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/user-interface

Remove Log
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/user-interface

Fix bug about initial AuroraEditorWindow position. ref: https://github.com/AuroraEditor/AuroraEditor/pull/425#issuecomment-1429123966
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
Owners: @AuroraEditor/team

Refactoring AuroraSplitViewController
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/user-interface

Remember splitView width of AuroraEditorWindow (#425)
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/AuroraSplitViewController.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Update readme over the current state of development.
  README.md
Owners: @AuroraEditor/team

Update readme over the current state of development. (#426)
  README.md
Owners: @AuroraEditor/team

Update README.md
  README.md
Owners: @AuroraEditor/team

Fix swiftlint issues
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/FileSystemClient/Model/FileSystemClient/FileSystemClient.swift
Owners: @AuroraEditor/team, @AuroraEditor/editor

Fix swiftlint issues
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
Owners: @AuroraEditor/editor, @AuroraEditor/user-interface

Able to build again
  AuroraEditor/Base/Toolbar/UI/ToolbarBranchPicker.swift
Owners: @AuroraEditor/user-interface

Opening works, disabled failing components
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Owners: @AuroraEditor/user-interface

Fixed PopoverView
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarBranchPicker.swift
  AuroraEditor/Base/Version Control/Model/Client/Core/GitClient.swift
Owners: @AuroraEditor/user-interface, @AuroraEditor/version-control

Removed TODO
  AuroraEditor/Base/Toolbar/UI/ToolbarBranchPicker.swift
Owners: @AuroraEditor/user-interface

Let it work again (#428)
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/FileSystemClient/Model/FileSystemClient/FileSystemClient.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarBranchPicker.swift
  AuroraEditor/Base/Version Control/Model/Client/Core/GitClient.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface, @AuroraEditor/editor, @AuroraEditor/version-control

Test runner
  RE_RUN
Owners: @AuroraEditor/team

Set timeout to 45 minutes
  .github/workflows/nightly.yml
  RE_RUN
Owners: @AuroraEditor/founder, @AuroraEditor/team

Set timeout to 45 minutes
  .github/workflows/nightly.yml
Owners: @AuroraEditor/founder

fix typo
  AuroraEditor/Base/AppPreferences/UI/GeneralPreferences/GeneralPreferencesViewSections.swift
Owners: @AuroraEditor/user-interface

Update .all-contributorsrc
  .all-contributorsrc
Owners: @AuroraEditor/team

Fixes crash of minimap, fixes #439
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Owners: @AuroraEditor/user-interface

Fixes crash of minimap, fixes #439 (#440)
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Owners: @AuroraEditor/user-interface

Fix force unwrapping of themes, fixes #442
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BackgroundColorThemeAttribute.swift
Owners: @AuroraEditor/user-interface, @AuroraEditor/editor

.github/CODEOWNERS:

# Please do not edit this file if you are not sure.

# All paths default to 'team' which contains all members
* @AuroraEditor/team

# Those files always needs approval from 'founders'
.github @AuroraEditor/founder

# Commandline interface
AuroraEditorCli @AuroraEditor/cli

# Open With Aurora Editor
OpenWithAuroraEditor @AuroraEditor/cli

# The Editor itself
AuroraEditor/Base/Editor @AuroraEditor/editor
AuroraEditor/Base/LSP  @AuroraEditor/lsp

# Inspector
AuroraEditor/Base/Inspector* @AuroraEditor/inspector

# User Experience
AuroraEditor/Symbols @AuroraEditor/user-experience
AuroraEditor/Assets* @AuroraEditor/user-experience
AuroraEditor/*Themes* @AuroraEditor/user-experience

# User Interface
**/UI @AuroraEditor/user-interface

# Utils

# Version control
**/*Git* @AuroraEditor/version-control
AuroraEditor/Base/Source\ Control @AuroraEditor/version-control
