Repository AuroraEditor/AuroraEditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AuroraEditor/team, @AuroraEditor/founder, @AuroraEditor/cli, @AuroraEditor/editor, @AuroraEditor/lsp, @AuroraEditor/inspector, @AuroraEditor/user-experience, @AuroraEditor/user-interface, @AuroraEditor/version-control

Make editor first responder when opened, fixes #197
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Owners: @AuroraEditor/user-interface

Update README.md
  README.md
Owners: @AuroraEditor/team

Render markdown in about, fixes #446
  AuroraEditor/Base/About/UI/CreditsDetailView.swift
  AuroraEditor/Base/About/UI/LicenseDetailView.swift
  AuroraEditor/Resources/Credits.md
Owners: @AuroraEditor/user-interface, @AuroraEditor/team

Update Project action
  .github/workflows/project.yml
Owners: @AuroraEditor/founder

Update README.md
  README.md
Owners: @AuroraEditor/team

Optimization: Enhanced the performance of the FileSystemClient for improved efficiency and responsiveness.
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem+Array.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItemFileSystemFunctions.swift
  AuroraEditor/Base/FileSystemClient/Model/FileSystemClient/FileSystemClient+FileIndex.swift
  AuroraEditor/Base/FileSystemClient/Model/FileSystemClient/FileSystemClient.swift
  AuroraEditor/Base/FileSystemClient/UI/FileIcon.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Change MenuBarIcon depending on system appeareance, fixes #445
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/Contents.json
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/Icon-light.svg
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/icon-dark 1.svg
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/icon-dark 2.svg
Owners: @AuroraEditor/user-experience

Change MenuBarIcon depending on system appearance, fixes #445 (#454)
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/Contents.json
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/Icon-light.svg
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/icon-dark 1.svg
  AuroraEditor/Assets.xcassets/MenuBar/MenuBarIcon.imageset/icon-dark 2.svg
Owners: @AuroraEditor/user-experience

Create INVALID
  INVALID
Owners: @AuroraEditor/team

.github/CODEOWNERS:

# Please do not edit this file if you are not sure.

# All paths default to 'team' which contains all members
* @AuroraEditor/team

# Those files always needs approval from 'founders'
.github @AuroraEditor/founder

# Commandline interface
AuroraEditorCli @AuroraEditor/cli

# Open With Aurora Editor
OpenWithAuroraEditor @AuroraEditor/cli

# The Editor itself
AuroraEditor/Base/Editor @AuroraEditor/editor
AuroraEditor/Base/LSP  @AuroraEditor/lsp

# Inspector
AuroraEditor/Base/Inspector* @AuroraEditor/inspector

# User Experience
AuroraEditor/Symbols @AuroraEditor/user-experience
AuroraEditor/Assets* @AuroraEditor/user-experience
AuroraEditor/*Themes* @AuroraEditor/user-experience

# User Interface
**/UI @AuroraEditor/user-interface

# Utils

# Version control
**/*Git* @AuroraEditor/version-control
AuroraEditor/Base/Source\ Control @AuroraEditor/version-control
