Repository AuroraEditor/AuroraEditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AuroraEditor/team, @AuroraEditor/founders, @AuroraEditor/cli, @AuroraEditor/editor, @AuroraEditor/lsp, @AuroraEditor/inspector, @AuroraEditor/user-experience, @AuroraEditor/user-interface, @AuroraEditor/version-control

.github/CODEOWNERS:

# Please do not edit this file if you are not sure.

# All paths default to 'team' which contains all members
* @AuroraEditor/team

# Those files always needs approval from 'founders'
.github @AuroraEditor/founders

# Commandline interface
AuroraEditorCli @AuroraEditor/cli

# Open With AuroraEditor
OpenWithAuroraEditor @AuroraEditor/cli

# The Editor itself
AuroraEditor/Editor @AuroraEditor/editor
AuroraEditor/LSP  @AuroraEditor/lsp

# Inspector
AuroraEditor/Inspector* @AuroraEditor/inspector

# User Experience
AuroraEditor/Symbols @AuroraEditor/user-experience
AuroraEditor/Assets* @AuroraEditor/user-experience
AuroraEditor/*Themes* @AuroraEditor/user-experience

# User Interface
**/UI @AuroraEditor/user-interface

# Utils

# Version control
**/*Git* @AuroraEditor/version-control
AuroraEditor/Source\ Control @AuroraEditor/version-control

Tab reordering (#192)
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlController.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar+Drag.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBarAccessories.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItemIcon.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

add drag and drop boilerplate
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Owners: @AuroraEditor/team

Get drag and drop working
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Owners: @AuroraEditor/team

Fix items bugging out when tabs closed
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
Owners: @AuroraEditor/team

Restrict support to FileItems
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
Owners: @AuroraEditor/team

Implement `category` in TabBarItemStorage
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Owners: @AuroraEditor/team

Improve drag and drop algorithm
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Owners: @AuroraEditor/team

Split up files
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDataSource.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDelegate.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
Owners: @AuroraEditor/team

Fix clone
  AuroraEditor/Base/Git/UI/Clone/GitCloneView.swift
Owners: @AuroraEditor/version-control

When tab item is moved from savedTabs, get rid of it from its old location
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDataSource.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDelegate.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Owners: @AuroraEditor/team

get DeleteItem working for the right click menu
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDataSource.swift
Owners: @AuroraEditor/team

Fix right click menu
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDelegate.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyTableViewCell.swift
Owners: @AuroraEditor/team

Fix endless loop of loading if fails to load (correct) item
  AuroraEditor/.githash
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
Owners: @AuroraEditor/team

Removed 'placeholder' text
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Removed `Unknown Item` tab, it always shows one tab with `Unknown Item`, we rather do not display an faulty tab (as text)
  AuroraEditor/.githash
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Only rin nightly on the `AuroraEditor` account.
  .github/workflows/nightly.yml
  AuroraEditor/.githash
Owners: @AuroraEditor/founders, @AuroraEditor/team

Optimize code
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
Owners: @AuroraEditor/team

Update AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
Owners: @AuroraEditor/team

Add a few guard lets
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDataSource.swift
Owners: @AuroraEditor/team

Fix optional chaining
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
Owners: @AuroraEditor/team
