Repository AuroraEditor/AuroraEditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AuroraEditor/team, @AuroraEditor/founder, @AuroraEditor/cli, @AuroraEditor/editor, @AuroraEditor/lsp, @AuroraEditor/inspector, @AuroraEditor/user-experience, @AuroraEditor/user-interface, @AuroraEditor/version-control

Add script for finding unused strings and cleaning up derived data
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/ClearDerivedData.sh
  Tools/unused_strings.py
Owners: @AuroraEditor/team

Add script that allows sorting the project alphabetically (#399)
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/ClearDerivedData.sh
  Tools/sort-Xcode-project-file.pl
  Tools/unused_strings.py
Owners: @AuroraEditor/team

Small swift script to extract strings in swift files
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/xstrings.swift
Owners: @AuroraEditor/team

Extract strings from swift files using swift script (#401)
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/xstrings.swift
Owners: @AuroraEditor/team

Update Github check out version
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update checkout
  .github/workflows/workflow.yml
Owners: @AuroraEditor/founder

Add Lokalise as a sponsor
  README.md
Owners: @AuroraEditor/team

Update Localisation Strings
  af.lproj/Localizable.strings
  cs.lproj/Localizable.strings
  cy-GB.lproj/Localizable.strings
  da.lproj/Localizable.strings
  de.lproj/Localizable.strings
  el.lproj/Localizable.strings
  en.lproj/Localizable.strings
  es.lproj/Localizable.strings
  fi.lproj/Localizable.strings
  fil.lproj/Localizable.strings
  fr.lproj/Localizable.strings
  ga-IE.lproj/Localizable.strings
  hi.lproj/Localizable.strings
  hr.lproj/Localizable.strings
  it.lproj/Localizable.strings
  ja.lproj/Localizable.strings
  ms.lproj/Localizable.strings
  mt-MT.lproj/Localizable.strings
  ne.lproj/Localizable.strings
  nl.lproj/Localizable.strings
  no.lproj/Localizable.strings
  pl.lproj/Localizable.strings
  pt.lproj/Localizable.strings
  ro.lproj/Localizable.strings
  ru.lproj/Localizable.strings
  sv.lproj/Localizable.strings
  th.lproj/Localizable.strings
  tn.lproj/Localizable.strings
  uk.lproj/Localizable.strings
  vi.lproj/Localizable.strings
  xh.lproj/Localizable.strings
  zh-Hans.lproj/Localizable.strings
  zh-Hant-HK.lproj/Localizable.strings
  zh-Hant.lproj/Localizable.strings
  zu.lproj/Localizable.strings
Owners: @AuroraEditor/team

Update Localisation Strings
  af.lproj/Localizable.strings
  cs.lproj/Localizable.strings
  cy-GB.lproj/Localizable.strings
  da.lproj/Localizable.strings
  de.lproj/Localizable.strings
  el.lproj/Localizable.strings
  en.lproj/Localizable.strings
  es.lproj/Localizable.strings
  fi.lproj/Localizable.strings
  fil.lproj/Localizable.strings
  fr.lproj/Localizable.strings
  ga-IE.lproj/Localizable.strings
  hi.lproj/Localizable.strings
  hr.lproj/Localizable.strings
  it.lproj/Localizable.strings
  ja.lproj/Localizable.strings
  ms.lproj/Localizable.strings
  mt-MT.lproj/Localizable.strings
  ne.lproj/Localizable.strings
  nl.lproj/Localizable.strings
  no.lproj/Localizable.strings
  pl.lproj/Localizable.strings
  pt.lproj/Localizable.strings
  ro.lproj/Localizable.strings
  ru.lproj/Localizable.strings
  sv.lproj/Localizable.strings
  th.lproj/Localizable.strings
  tn.lproj/Localizable.strings
  uk.lproj/Localizable.strings
  vi.lproj/Localizable.strings
  xh.lproj/Localizable.strings
  zh-Hans.lproj/Localizable.strings
  zh-Hant-HK.lproj/Localizable.strings
  zh-Hant.lproj/Localizable.strings
  zu.lproj/Localizable.strings
Owners: @AuroraEditor/team

Update README.md
  README.md
Owners: @AuroraEditor/team

Update README.md
  README.md
Owners: @AuroraEditor/team

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Sync dev with main. (#407)
  .github/workflows/sync-main.yml
  .github/workflows/workflow.yml
  Aurora Editor.xcodeproj/project.pbxproj
  README.md
  Tools/ClearDerivedData.sh
  Tools/sort-Xcode-project-file.pl
  Tools/unused_strings.py
  Tools/xstrings.swift
Owners: @AuroraEditor/founder, @AuroraEditor/team

Update stale bot settings
  .github/stale.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update pull_request_template.md
  .github/pull_request_template.md
Owners: @AuroraEditor/founder

Let nightly build on development
  .github/workflows/nightly.yml
Owners: @AuroraEditor/founder

Delete merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Delete sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Delete update-github-pr.yml
  .github/workflows/update-github-pr.yml
Owners: @AuroraEditor/founder

Update nightly.yml
  .github/workflows/nightly.yml
Owners: @AuroraEditor/founder

Added new localisation files and extracted strings from `AppPrefrences & About`
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Localization/Localized+Ex.swift
  AuroraEditor/Localization/af.lproj/Localizable.strings
  AuroraEditor/Localization/cs.lproj/Localizable.strings
  AuroraEditor/Localization/cy.lproj/Localizable.strings
  AuroraEditor/Localization/da.lproj/Localizable.strings
  AuroraEditor/Localization/de.lproj/Localizable.strings
  AuroraEditor/Localization/el.lproj/Localizable.strings
  AuroraEditor/Localization/en-001.lproj/Localizable.strings
  AuroraEditor/Localization/es.lproj/Localizable.strings
  AuroraEditor/Localization/fi.lproj/Localizable.strings
  AuroraEditor/Localization/fil.lproj/Localizable.strings
  AuroraEditor/Localization/fr.lproj/Localizable.strings
  AuroraEditor/Localization/ga.lproj/Localizable.strings
  AuroraEditor/Localization/hi.lproj/Localizable.strings
  AuroraEditor/Localization/hr.lproj/Localizable.strings
  AuroraEditor/Localization/it.lproj/Localizable.strings
  AuroraEditor/Localization/ja.lproj/Localizable.strings
  AuroraEditor/Localization/ms.lproj/Localizable.strings
  AuroraEditor/Localization/mt.lproj/Localizable.strings
  AuroraEditor/Localization/nb.lproj/Localizable.strings
  AuroraEditor/Localization/ne.lproj/Localizable.strings
  AuroraEditor/Localization/nl.lproj/Localizable.strings
  AuroraEditor/Localization/pl.lproj/Localizable.strings
  AuroraEditor/Localization/pt-PT.lproj/Localizable.strings
  AuroraEditor/Localization/ro.lproj/Localizable.strings
  AuroraEditor/Localization/ru.lproj/Localizable.strings
  AuroraEditor/Localization/sv.lproj/Localizable.strings
  AuroraEditor/Localization/th-TH.lproj/Localizable.strings
  AuroraEditor/Localization/th.lproj/Localizable.strings
  AuroraEditor/Localization/tn.lproj/Localizable.strings
  AuroraEditor/Localization/uk.lproj/Localizable.strings
  AuroraEditor/Localization/vi.lproj/Localizable.strings
  AuroraEditor/Localization/xh-ZA.lproj/Localizable.strings
  AuroraEditor/Localization/zh-HK.lproj/Localizable.strings
  AuroraEditor/Localization/zh-Hans.lproj/Localizable.strings
  AuroraEditor/Localization/zh-Hant.lproj/Localizable.strings
  AuroraEditor/Localization/zu-ZA.lproj/Localizable.strings
Owners: @AuroraEditor/team

ImplementOniguruma test
  AuroraEditor/Base/Editor/EditorCore/Interface/Parser.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/Scope.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/BeginEndRule.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/MatchRule.swift
Owners: @AuroraEditor/editor

Update Localizable.strings
  AuroraEditor/Localization/af.lproj/Localizable.strings
Owners: @AuroraEditor/team

Update nightly.yml
  .github/workflows/nightly.yml
Owners: @AuroraEditor/founder

test
  test
Owners: @AuroraEditor/team

test
  test
Owners: @AuroraEditor/team

ImplementOniguruma
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage/CodeStorage.swift
  AuroraEditor/Base/Editor/EditorCore/Interface/Parser.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/BeginEndRule.swift
  AuroraEditor/Utils/Extensions/Formatters.swift
Owners: @AuroraEditor/editor, @AuroraEditor/team

Fix equation
  AuroraEditor/Base/Editor/EditorCore/Processing/Scope.swift
Owners: @AuroraEditor/editor

Fix linting errors
  AuroraEditor/Base/Editor/EditorCore/Interface/GrammarJsonLoader.swift
  AuroraEditor/Base/Editor/EditorCore/Interface/Parser.swift
Owners: @AuroraEditor/editor

Don't show warning notifications if they are silent
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
Owners: @AuroraEditor/user-interface

Allow error notifications to show when filtering for errors
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorToolbarBottom.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
Owners: @AuroraEditor/user-interface

Allow filtering of notification list
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorToolbarBottom.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
Owners: @AuroraEditor/user-interface, @AuroraEditor/team

Notification Improvements
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/AppPreferences/Model/Notifications/NotificationsPreferences.swift
  AuroraEditor/Base/AppPreferences/Model/SettingsModel.swift
  AuroraEditor/Base/AppPreferences/UI/Noitfications/NotificationPreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/PreferencesView.swift
  AuroraEditor/Base/AuroraEditorUI/UI/Preferences/HStackToggle.swift
  AuroraEditor/Base/AuroraEditorUI/UI/Preferences/NotificationProfileToggle.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebar.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
  AuroraEditor/Base/Notifications/Enums/IssueType.swift
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
  AuroraEditor/Base/Notifications/Protocols/INotification.swift
  AuroraEditor/Base/Notifications/UI/NotificationIndicators.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Create a more modern notification item view
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
  AuroraEditor/Base/Notifications/Model/NotificationService.swift
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
  AuroraEditor/Base/Notifications/Protocols/INotification.swift
  AuroraEditor/Base/Notifications/Protocols/INotificationService.swift
  AuroraEditor/Base/Notifications/UI/NotificationViewItem.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
  AuroraEditor/Base/Workspace/UI/WorkspaceView.swift
Owners: @AuroraEditor/user-interface, @AuroraEditor/team

Reverse the notification list to show new notifications at the top
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
Owners: @AuroraEditor/user-interface

Small UI fixes
  AuroraEditor/Base/NavigatorSidebar/UI/NotificationsNavigator/NotificationsNavigatorView.swift
  AuroraEditor/Base/Notifications/UI/NotificationViewItem.swift
Owners: @AuroraEditor/user-interface

Make PreferenceWindow resizable so that user can show all of contents.
  AuroraEditor/Base/AppPreferences/Controller/PreferencesWindowController.swift
  AuroraEditor/Base/AppPreferences/UI/PreferencesView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Attempt to add a notification toast
  AuroraEditor/Base/Notifications/Model/NotificationsModel.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
  AuroraEditor/Base/Workspace/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Make Preferences window resizable so that user can see all of contents. (#420)
  AuroraEditor/Base/AppPreferences/Controller/PreferencesWindowController.swift
  AuroraEditor/Base/AppPreferences/UI/PreferencesView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

.github/CODEOWNERS:

# Please do not edit this file if you are not sure.

# All paths default to 'team' which contains all members
* @AuroraEditor/team

# Those files always needs approval from 'founders'
.github @AuroraEditor/founder

# Commandline interface
AuroraEditorCli @AuroraEditor/cli

# Open With Aurora Editor
OpenWithAuroraEditor @AuroraEditor/cli

# The Editor itself
AuroraEditor/Base/Editor @AuroraEditor/editor
AuroraEditor/Base/LSP  @AuroraEditor/lsp

# Inspector
AuroraEditor/Base/Inspector* @AuroraEditor/inspector

# User Experience
AuroraEditor/Symbols @AuroraEditor/user-experience
AuroraEditor/Assets* @AuroraEditor/user-experience
AuroraEditor/*Themes* @AuroraEditor/user-experience

# User Interface
**/UI @AuroraEditor/user-interface

# Utils

# Version control
**/*Git* @AuroraEditor/version-control
AuroraEditor/Base/Source\ Control @AuroraEditor/version-control
