Repository AuroraEditor/AuroraEditor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AuroraEditor/team, @AuroraEditor/founder, @AuroraEditor/cli, @AuroraEditor/editor, @AuroraEditor/lsp, @AuroraEditor/inspector, @AuroraEditor/user-experience, @AuroraEditor/user-interface, @AuroraEditor/version-control

.github/CODEOWNERS:

# Please do not edit this file if you are not sure.

# All paths default to 'team' which contains all members
* @AuroraEditor/team

# Those files always needs approval from 'founders'
.github @AuroraEditor/founder

# Commandline interface
AuroraEditorCli @AuroraEditor/cli

# Open With Aurora Editor
OpenWithAuroraEditor @AuroraEditor/cli

# The Editor itself
AuroraEditor/Base/Editor @AuroraEditor/editor
AuroraEditor/Base/LSP  @AuroraEditor/lsp

# Inspector
AuroraEditor/Base/Inspector* @AuroraEditor/inspector

# User Experience
AuroraEditor/Symbols @AuroraEditor/user-experience
AuroraEditor/Assets* @AuroraEditor/user-experience
AuroraEditor/*Themes* @AuroraEditor/user-experience

# User Interface
**/UI @AuroraEditor/user-interface

# Utils

# Version control
**/*Git* @AuroraEditor/version-control
AuroraEditor/Base/Source\ Control @AuroraEditor/version-control

Fix naming
  .gitignore
  .swiftlint.yml
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/AppPreferences/Resources/AuroraEditor
  AuroraEditor/Utils/Log/Using Logger.md
  OpenWithAuroraEditor/FinderSync.swift
Owners: @AuroraEditor/team, @AuroraEditor/cli

Update swiftlint
  .gitignore
  .swiftlint.yml
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Test.swift
Owners: @AuroraEditor/team

Update gitignore
  .gitignore
Owners: @AuroraEditor/team

Rename target to `Aurora Editor`
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor.xcodeproj/xcshareddata/xcschemes/AuroraEditor.xcscheme
  AuroraEditor.xcodeproj/xcshareddata/xcschemes/AuroraEditorRelease.xcscheme
  AuroraEditor.xcodeproj/xcshareddata/xcschemes/AuroraEditorTests.xcscheme
  AuroraEditor.xcodeproj/xcshareddata/xcschemes/OpenWithAuroraEditor.xcscheme
  AuroraEditor/Base/Version Control/UI/Tag/CreateNewTagView.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Removed swiftlint exception
  .swiftlint.yml
Owners: @AuroraEditor/team

Update tests, targets and schemes
  .github/workflows/nightly.yml
  .github/workflows/workflow.yml
  Aurora Editor.xcodeproj/project.pbxproj
  Aurora Editor.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Aurora Editor.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Aurora Editor.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Aurora Editor.xcodeproj/xcshareddata/xcschemes/Aurora Editor (Release).xcscheme
  Aurora Editor.xcodeproj/xcshareddata/xcschemes/Aurora Editor (Tests).xcscheme
  Aurora Editor.xcodeproj/xcshareddata/xcschemes/Aurora Editor.xcscheme
  Aurora Editor.xcodeproj/xcshareddata/xcschemes/Open With Aurora Editor.xcscheme
  Aurora Editor.xcworkspace/contents.xcworkspacedata
  Aurora Editor.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Aurora Editor.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Owners: @AuroraEditor/founder, @AuroraEditor/team

Start of new redesign for about view
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Base/About/Model/AboutViewModal.swift
  AuroraEditor/Base/About/Model/Contributor.swift
  AuroraEditor/Base/About/UI/AboutViewNew.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Finish redesign of about window
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/About/Model/AboutViewModal.swift
  AuroraEditor/Base/About/Model/Contributor.swift
  AuroraEditor/Base/About/UI/AboutView.swift
  AuroraEditor/Base/About/UI/AboutViewNew.swift
  AuroraEditor/Base/About/UI/ApplicationsDetailsView.swift
  AuroraEditor/Base/About/UI/ContributersDetailView.swift
  AuroraEditor/Base/About/UI/CreditsDetailView.swift
  AuroraEditor/Base/About/UI/LicenseDetailView.swift
  AuroraEditor/Resources/Credits.md
  AuroraEditor/Resources/License.md
  AuroraEditor/Utils/Version Control/Avatar.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Small UI fixes for AboutView
  AuroraEditor/Base/About/UI/AboutView.swift
  AuroraEditor/Base/About/UI/ApplicationsDetailsView.swift
  AuroraEditor/Base/About/UI/CreditsDetailView.swift
Owners: @AuroraEditor/user-interface

Redesign about window for a more cleaner design (#381)
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/About/Model/AboutViewModal.swift
  AuroraEditor/Base/About/Model/Contributor.swift
  AuroraEditor/Base/About/UI/AboutView.swift
  AuroraEditor/Base/About/UI/ApplicationsDetailsView.swift
  AuroraEditor/Base/About/UI/ContributersDetailView.swift
  AuroraEditor/Base/About/UI/CreditsDetailView.swift
  AuroraEditor/Base/About/UI/LicenseDetailView.swift
  AuroraEditor/Resources/Credits.md
  AuroraEditor/Resources/License.md
  AuroraEditor/Utils/Version Control/Avatar.swift
Owners: @AuroraEditor/team, @AuroraEditor/user-interface

Create sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update branch name issue in GitHub workflow
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Allow SwiftLint to run on dev branch also
  .github/workflows/workflow.yml
Owners: @AuroraEditor/founder

Create merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Fix sytax issue
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Accept PR's auto merge action for main branch only
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Create update-github-pr.yml
  .github/workflows/update-github-pr.yml
Owners: @AuroraEditor/founder

Update merge-github-pr.yml
  .github/workflows/merge-github-pr.yml
Owners: @AuroraEditor/founder

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Add translation link to readme
  README.md
Owners: @AuroraEditor/team

New version to sync with development
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

New version to sync with development (#393)
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update README.md
  README.md
Owners: @AuroraEditor/team

Sync Main to Development (#395)
  README.md
Owners: @AuroraEditor/team

Update sync-main.yml
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Update text
  .github/workflows/sync-main.yml
Owners: @AuroraEditor/founder

Add script that allows sorting the project alphabetically
  Aurora Editor.xcodeproj/project.pbxproj
  Tools/sort-Xcode-project-file.pl
Owners: @AuroraEditor/team
