Repository AuroraEditor/AuroraEditor, pull requests merged in 2022-12, with the labels that each got.

#335 Create tags for commits and branches
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Base/Version Control/UI/Project History/BranchCommitHistoryView.swift
  AuroraEditor/Base/Version Control/UI/Tag/CreateNewTagView.swift
Labels: enhancement, Version control

#337 Extension Broadcaster
  AuroraEditor/.githash
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
Labels: enhancement, Architecture, Extension

#338 Fix build error
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
Labels: Architecture, bugfix, Extension

#340 Fix rare crash when an extension sends a message if there is no workspace document
  AuroraEditor/.githash
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
  Package.resolved
Labels: Editor, Architecture, bugfix

#342 Add missing environment objects, Fixes #339
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/UI/CodeFile.swift
  AuroraEditor/Base/QuickOpen/UI/QuickOpenPreviewView.swift
Labels: bugfix

#343 Auto change theme color on system color (if no preference is set)
  AuroraEditor/Base/AppPreferences/Model/Theme/ThemePreferences.swift
Labels: enhancement, Architecture

#345 add some constraints to avoid inconsistent sizing
  AuroraEditor/Base/AppPreferences/UI/PreferencesView.swift
Labels: UI, bugfix

#352 Fix for unexpected error when processing the request for a view hierarchy snapshot.
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FontThemeAttribute.swift
  Package.resolved
Labels: bugfix

#354 Fix caret position updates, fixes #353
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
Labels: Editor, bugfix, Extension

#355 Improved .githash
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
Labels: enhancement, bugfix
