Repository AuroraEditor/AuroraEditor, pull requests merged in 2022-10, with the labels that each got.

#268 Make folder icon follow system accent color
  AuroraEditor/.githash
  AuroraEditor/Base/NavigatorSidebar/Model/FileSystemTableViewCell.swift
Labels: enhancement

#269 Use symlink in project directory
  AuroraEditor/.githash
  AuroraEditor/Base/FileSystemClient/Model/FileSystemClient/FileSystemClient+FileIndex.swift
Labels: enhancement

#270 Add SwiftOnig package for TextMate regex
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AuroraEditor/.githash
Labels: Editor

#275 Extensions
  AuroraEditor/.githash
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/AppPreferences/AppPreferencesDocumentation.docc/AppPreferences.md
  AuroraEditor/Base/AppPreferences/AppPreferencesDocumentation.docc/Themes.md
  AuroraEditor/Base/AppPreferences/Model/AppPreferencesModel.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeModel.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionInstallationView.swift
  Package.resolved
Labels: enhancement, Editor, Architecture, cleanup, Extension, Theme

#272 Clean up EditorCore structure
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/EditorCore/ParagraphStyle.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/ExampleTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme+Default.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeTrieElement.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ActionThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BackgroundColorThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BoldThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ColorThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/DefaultTabIntervalThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FirstLineHeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FontThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/HeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/HiddenThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ItalicThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/KernThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LigatureThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LineHeightThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LineThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingAfterThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingBeforeThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TabStopsThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TailIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextAlignmentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextBlockThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ThemeAttribute+Error.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/UndlerlineColorThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/TokenThemeAttribute.swift
  AuroraEditor/Base/Editor/Extensions/NSRange+Shifted.swift
Labels: cleanup

#280 Added some Extension endpoints
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionInstallationView.swift
  Package.resolved
Labels: enhancement, UI, Editor, Architecture, Inspector, Navigator, hacktoberfest, Discord, Extension

#277 Theme system merge
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/AuroraTheme.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/EditorColors.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/TerminalColors.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeModel.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/EditorThemeView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/ThemePreviewIcon.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Editor/Theme.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage/CodeStorage.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Gutter/GutterSharedCode.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Gutter/GutterView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Minimap/MinimapView.swift
  AuroraEditor/Base/Editor/EditorCore/Color_Editor.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/ExampleTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme+Default.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ActionThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BackgroundColorThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BoldThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ColorThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/DefaultTabIntervalThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FirstLineHeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FontThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/HeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/HiddenThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ItalicThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/KernThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LigatureThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LineHeightThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingAfterThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingBeforeThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TabStopsThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TailIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextAlignmentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextBlockThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/UndlerlineColorThemeAttribute.swift
  AuroraEditor/Utils/Extensions/EnvironmentValues.swift
Labels: enhancement, UI, Editor, bugfix, hacktoberfest, Theme

#283 Add Theme Editor
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/EditorThemeAttributeView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/EditorThemeView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/ThemePreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/ThemePreviewIcon.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/BoldThemeAttribute.swift
Labels: enhancement, bugfix, Theme

#287 Fixed crash on different version of `AEExtensionKit`
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
Labels: Architecture, bugfix, Extension

#288 Highlighting debugging
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/Text Editing/TextEditingPreferences.swift
  AuroraEditor/Base/AppPreferences/UI/TextEditingPreferences/TextEditingPreferencesView.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/EditorCore/TokenizedLine.swift
  AuroraEditor/Base/InspectorSidebar/UI/QuickHelp/QuickHelpInspector.swift
  AuroraEditor/Utils/SharedObjects.swift
Labels: enhancement, Editor, hacktoberfest, hacktoberfest-accepted

#298 Add ability to import themes in popular formats
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/AuroraTheme.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/EditorColors.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/TerminalColors.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+AuroraTheme(Old).swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+TextMate.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+VSCode.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeModel.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/EditorThemeAttributeView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/EditorThemeView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/ThemePreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/ThemePreferences/ThemePreviewIcon.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Documents/UI/WorkspaceCodeFileView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/EditorCore/Grammar.swift
  AuroraEditor/Base/Editor/EditorCore/Rules/GrammarJsonLoader.swift
  AuroraEditor/Base/Editor/EditorCore/Rules/GrammerFromJson.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightTheme.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/HighlightThemeSetting.swift
  AuroraEditor/Base/Editor/EditorCore/TokenizedLine.swift
  AuroraEditor/Base/Editor/UI/CodeFile.swift
  AuroraEditor/Base/InspectorSidebar/UI/QuickHelp/QuickHelpInspector.swift
  AuroraEditor/Base/QuickOpen/UI/QuickOpenPreviewView.swift
  AuroraEditor/DefaultThemes/auroraeditor-github-dark.json
  AuroraEditor/DefaultThemes/creeper.tmTheme
  AuroraEditor/Extensions/swift.tmLanguage.json
Labels: enhancement, UI, Editor, hacktoberfest, Theme

#299 Extension implementations
  0xWDG.xcworkspace/contents.xcworkspacedata
  0xWDG.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  0xWDG.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/UI/CodeFile.swift
  AuroraEditor/Base/Extensions/Models/AuroraEditorAPI.swift
  AuroraEditor/Base/Extensions/Models/AuroraEditorTargetsAPI.swift
  AuroraEditor/Base/Extensions/Models/DownloadedPlugin.swift
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
  AuroraEditor/Base/Extensions/Models/Plugin.swift
  AuroraEditor/Base/Extensions/Network/ExtensionsStoreAPI.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ExtensionNavigator/ExtensionInstallationViewModel.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ExtensionNavigator/ExtensionNavigatorData.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionInstallationView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigatorItem.swift
  AuroraEditor/Utils/Log/Log.swift
Labels: enhancement, Extension

#301 Fix crash if regex is invalid
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeModel.swift
  AuroraEditor/Base/Editor/EditorCore/MatchRule.swift
  AuroraEditor/Base/Editor/EditorCore/Rules/BeginEndRule.swift
  AuroraEditor/Base/InspectorSidebar/Models/FileInspector/FileInspectorModel.swift
  AuroraEditor/Base/InspectorSidebar/Models/FileInspector/LanguageType.swift
  AuroraEditor/Base/InspectorSidebar/Models/FileInspector/Lists/FileTypeList.swift
  AuroraEditor/Base/InspectorSidebar/UI/FileInspector/FileInspectorView.swift
Labels: bugfix

#303 Added more extension functions
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/LayoutDelegates/CodeLayoutManager.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Labels: enhancement, Extension

#304 Post notification `AE.didBeginEditing` when editting starts
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/Model/LayoutDelegates/CodeViewDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
Labels: Editor, bugfix

#306 Clean up EditorCore
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/EditorCore/Interface/Grammar.swift
  AuroraEditor/Base/Editor/EditorCore/Interface/GrammarJsonLoader.swift
  AuroraEditor/Base/Editor/EditorCore/Interface/Parser.swift
  AuroraEditor/Base/Editor/EditorCore/ParagraphStyle.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/Capture.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/LineState.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/Repository.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/Scope.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/ScopeName.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/Token.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/TokenizeResult.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/TokenizedLine.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/BeginEndRule.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/IncludeGrammarPattern.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/IncludeRulePattern.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/MatchRule.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/Pattern.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/RawGrammer.swift
  AuroraEditor/Base/Editor/EditorCore/Rules+Patterns/Rule.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/DefaultTabIntervalThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/FirstLineHeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/HeadIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LineHeightThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/LineThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingAfterThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/ParagraphSpacingBeforeThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TabStopsThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TailIndentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextAlignmentThemeAttribute.swift
  AuroraEditor/Base/Editor/EditorCore/Theme/Theme Attributes/TextBlockThemeAttribute.swift
  AuroraEditor/Base/Editor/UI/STTextView+Menu.swift
  AuroraEditor/Base/Editor/UI/STTextViewController+STTextViewDelegate.swift
  AuroraEditor/Base/Editor/UI/STTextViewController.swift
  AuroraEditor/Base/Version Control/Model/Accounts/Bitbucket/BitbucketAccount+Token.swift
Labels: Architecture, cleanup

#310 Populate Extension Store with extensions from the API
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Extensions/Models/Plugin.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ExtensionNavigator/ExtensionInstallationViewModel.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Explore/ExploreExtensionsView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Explore/ExploreItemView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigatorView.swift
  AuroraEditor/Services/Manager/Constants.swift
  AuroraEditor/Utils/Errors/WorkspaceErrors.swift
Labels: enhancement, Extension
