Repository AuroraEditor/AuroraEditor, pull requests merged in 2022-09, with the labels that each got.

#150 Reorder recent items whenever a project is opened to make it first
  AuroraEditor/Base/WelcomeModule/UI/RecentProjectsView.swift
Labels: bugfix

#156 Remove unused files
  .github/scripts/remove_todos.sh
  .github/scripts/test_app.sh
Labels: enhancement, cleanup

#164 [skip ci] Added files for auto-release
  .github/AuroraEditor.provisionprofile
  .github/export.plist
Labels: enhancement

#166 Menu bar welcome screen
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Application/DockProgress.swift
  AuroraEditor/Assets.xcassets/MenuBarIcon.imageset/Contents.json
  AuroraEditor/Assets.xcassets/MenuBarIcon.imageset/icon_16x16 1.png
  AuroraEditor/Assets.xcassets/MenuBarIcon.imageset/icon_16x16 2.png
  AuroraEditor/Assets.xcassets/MenuBarIcon.imageset/icon_16x16.png
  AuroraEditor/Base/AppPreferences/Model/General/GeneralPreferences.swift
  AuroraEditor/Base/AppPreferences/UI/GeneralPreferences/GeneralPreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/GeneralPreferences/GeneralPreferencesViewSections.swift
  AuroraEditor/Base/Git/Models/Client/Core/GitClient.swift
  AuroraEditor/Base/Git/Models/Client/Core/GitClientError.swift
  AuroraEditor/Base/Git/UI/Clone/GitCloneView+Helpers.swift
  AuroraEditor/Base/Git/UI/Clone/GitCloneView.swift
  AuroraEditor/Base/Git/UI/Clone/GitCloneViewWindow.swift
  AuroraEditor/Base/MenuBarItem/StatusItem.swift
  AuroraEditor/Base/WelcomeModule/UI/Extensions/WelcomeModuleExtensions.swift
  AuroraEditor/Base/WelcomeModule/UI/RecentProjectsView.swift
  AuroraEditor/Base/WelcomeModule/UI/WelcomeView.swift
Labels: enhancement, UI

#173 Various fixes
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/CommandPalette/Model/WorkspaceDocument+Commands.swift
  AuroraEditor/Base/Creation/FileCreation/Model/FileCreationModel.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Git/Models/Client/Core/GitClient.swift
  AuroraEditor/Base/MenuBarItem/StatusItem.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarAppInfo.swift
Labels: enhancement, bugfix

#176 Users can now delete git branches
  AuroraEditor/.githash
  AuroraEditor/Base/Git/Models/Client/Branch.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
Labels: Version control

#181 Changes now show also if project is a git repo
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Git/Models/Client/Check.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlModel.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoryModel.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/Changes/ChangesView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/Repositories/CreateNewRepositoryView.swift
Labels: Version control

#178 Allow the new file sheet to create files in non-root directories
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Creation/FileCreation/Model/FileCreationModel.swift
  AuroraEditor/Base/Creation/FileCreation/Model/NewFileModel.swift
  AuroraEditor/Base/Creation/FileCreation/UI/FileCreationNamingView.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItemFileSystemFunctions.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorViewController.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ProjectNavigator/ProjectNavigatorToolbarBottom.swift
Labels: enhancement, UI

#182 Fix AuroraEditor not creating a git repo in project
  AuroraEditor/Base/Git/Models/Client/Helpers/DefaultBranch.swift
  AuroraEditor/Base/Git/Models/Client/Init.swift
Labels: bug, Version control

#183 Fix branch picker showing in non git projects
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Toolbar/UI/ToolbarBranchPicker.swift
Labels: Version control

#185 Add barebones of project commit history
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AuroraEditorUI/UI/SegmentedControl.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Git/Models/Client/GitLog.swift
  AuroraEditor/Base/Git/Models/Client/Remote.swift
  AuroraEditor/Base/InspectorSidebar/UI/Popover/PopoverView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesViewController.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ProjectNavigator/ProjectNavigatorToolbarBottom.swift
  AuroraEditor/Base/Source Control/Model/Project History/ProjectCommitHistory.swift
  AuroraEditor/Base/Source Control/UI/Project History/Cell/CommitHistoryCellView.swift
  AuroraEditor/Base/Source Control/UI/Project History/FilterCommitHistoryView.swift
  AuroraEditor/Base/Source Control/UI/Project History/ProjectCommitHistoryView.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Utils/Date+Formatted.swift
  AuroraEditor/Utils/Log/LogExtension.swift
  AuroraEditor/Utils/Source Control/Avatar.swift
Labels: enhancement, Version control

#188 Reindex file item when watcher activated
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem.swift
Labels: enhancement

#191 Embed `AEExtensionKit` into the project
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AEExtensionKit/ExtensionAPI.swift
  AuroraEditor/Base/AEExtensionKit/ExtensionInterface.swift
  AuroraEditor/Base/AEExtensionKit/ExtensionManifest.swift
  AuroraEditor/Base/AEExtensionKit/Targets/Target.swift
  AuroraEditor/Base/AEExtensionKit/TargetsAPI.swift
  Package.resolved
  README.md
Labels: enhancement

#190 Add renaming of branches
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Base/Source Control/UI/Rename/RenameBranchView.swift
Labels: enhancement, Version control

#189 Add support for viewing branch commit history
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesViewController.swift
  AuroraEditor/Base/Source Control/Model/Project History/BranchCommitHistory.swift
  AuroraEditor/Base/Source Control/Model/Project History/ProjectCommitHistory.swift
  AuroraEditor/Base/Source Control/UI/Project History/BranchCommitHistoryView.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
Labels: enhancement, Version control

#193 Add support for adding existing remote
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Git/Models/Client/Branch.swift
  AuroraEditor/Base/Git/Models/Client/Remote.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Base/Source Control/UI/Remote/AddRemoteView.swift
Labels: enhancement, Version control

#219 Fix checkout
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
Labels: enhancement, Version control

#218 Create new Git Branches
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Git/Models/Client/Branch.swift
  AuroraEditor/Base/Git/Models/Client/Checkout.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Base/Source Control/UI/Branch/CreateNewBranchView.swift
  AuroraEditor/Base/Source Control/UI/Project History/BranchCommitHistoryView.swift
  AuroraEditor/Base/Source Control/UI/Project History/ProjectCommitHistoryView.swift
Labels: enhancement, Version control

#224 Added CODEOWNERS
  .github/CODEOWNERS
Labels: enhancement

#192 Tab reordering
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlController.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar+Drag.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBarAccessories.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItemIcon.swift
Labels: enhancement, UI

#228 Fix endless loop of loading if fails to load (correct) item
  .github/workflows/nightly.yml
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar.swift
Labels: bugfix

#227 Add Tab Hierarchy
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDataSource.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyOutlineDelegate.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyTableViewCell.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesViewController.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesWrapperView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/StandardTableViewCell.swift
  AuroraEditor/Base/NavigatorSidebar/Model/TextTableViewCell.swift
  AuroraEditor/Base/NavigatorSidebar/UI/HierarchyNavigator/HierarchyNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorModeSelectModel.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebar.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebarToolbarLeft.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebarToolbarTop.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemStorage.swift
Labels: enhancement, UI

#232 Fix cursor (caret) position function, fixes #230
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/STTextView/UI/STTextView.swift
Labels: Editor, bugfix

#186 Add git clone only branch
  AuroraEditor/.githash
  AuroraEditor/Base/Git/Models/Client/Branch.swift
  AuroraEditor/Base/Git/Models/Client/Core/GitClient.swift
  AuroraEditor/Base/Git/Models/Client/Remote.swift
  AuroraEditor/Base/Git/UI/Clone/GitCloneView+Helpers.swift
  AuroraEditor/Base/Git/UI/Clone/GitCloneView.swift
Labels: enhancement, Version control

#238 Fix for #180
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesTableViewCell.swift
Labels: Version control, bugfix

#243 Hide source code info on non source code tabs
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/StatusBar/UI/StatusBar.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBarAccessories.swift
Labels: UI, cleanup

#223 Add support for GitHub Actions
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/UI/AccountsPreferences/Login/Github/GithubLoginView.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Selection.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Git/Networking/Router.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyTableViewCell.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/SourceControlNavigatorView.swift
  AuroraEditor/Base/Source Control/Model/Actions/GitHubActionsModel.swift
  AuroraEditor/Base/Source Control/UI/Actions/ActionsListView.swift
  AuroraEditor/Base/Source Control/UI/Actions/ActionsPopoverView.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/ActionsPopoverCellView.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/Workflow/WorkflowMenu.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/Workflow/WorkflowTableViewCell.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/Workflow/WorkflowViewController.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/Workflow/WorkflowWrapperView.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/WorkflowCellView.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/WorkflowJobCell.swift
  AuroraEditor/Base/Source Control/UI/Actions/Cell/WorkflowRunCell.swift
  AuroraEditor/Base/Source Control/UI/Actions/Sheet/ReRunJobSheetView.swift
  AuroraEditor/Base/Source Control/UI/Actions/WorkflowJob.swift
  AuroraEditor/Base/Source Control/UI/Actions/WorkflowJobsView.swift
  AuroraEditor/Base/Source Control/UI/Actions/WorkflowRunsView.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Services/Manager/AuroraNetworking.swift
  AuroraEditor/Services/Manager/HTTPErros.swift
  AuroraEditor/Services/Manager/HTTPMethod.swift
  AuroraEditor/Services/Manager/NetworkingConstant.swift
  AuroraEditor/Services/Model/GitHub/Actions/Jobs/Job.swift
  AuroraEditor/Services/Model/GitHub/Actions/Jobs/JobSteps.swift
  AuroraEditor/Services/Model/GitHub/Actions/Jobs/Jobs.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/Workflow.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/WorkflowRun.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/WorkflowRuns.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/Workflows.swift
Labels: enhancement, Version control

#246 Fix issue with crash on close
  AuroraEditor/Utils/Log/Log.swift
  AuroraEditor/Utils/WorkspaceExtension.swift
Labels: bug, bugfix

#247 Clean up Utils folder
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Utils/AuroraMessageBox.swift
  AuroraEditor/Utils/Extensions/Array.swift
  AuroraEditor/Utils/Extensions/AuroraEditorSymbols.swift
  AuroraEditor/Utils/Extensions/Bundle.swift
  AuroraEditor/Utils/Extensions/Collection.swift
  AuroraEditor/Utils/Extensions/Color.swift
  AuroraEditor/Utils/Extensions/Date.swift
  AuroraEditor/Utils/Extensions/FileManger.swift
  AuroraEditor/Utils/Extensions/Formatters.swift
  AuroraEditor/Utils/Extensions/String+MD5.swift
  AuroraEditor/Utils/Extensions/String+RemoveOccurrences.swift
  AuroraEditor/Utils/Extensions/String+SHA256.swift
  AuroraEditor/Utils/Extensions/String.swift
  AuroraEditor/Utils/Extensions/SwiftTerm+Color+Init.swift
  AuroraEditor/Utils/Extensions/URL.swift
  AuroraEditor/Utils/Extensions/View.swift
  AuroraEditor/Utils/Extensions/WorkspaceExtension.swift
  AuroraEditor/Utils/Styles/GroupBox.swift
  AuroraEditor/Utils/Version Control/Avatar.swift
  AuroraEditor/Utils/Version Control/Dictionary+Additions.swift
  AuroraEditor/Utils/Version Control/Time.swift
Labels: Architecture

#249 Added some debugging statements
  AuroraEditor/.githash
  AuroraEditor/Base/Source Control/Model/Actions/GitHubActionsModel.swift
Labels: Version control

#252 Fix Actions UI
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Source Control/UI/Actions/WorkflowJobsView.swift
  AuroraEditor/Base/Source Control/UI/Actions/WorkflowRunsView.swift
  AuroraEditor/Base/Version Control/Model/Actions/GitHubActionsModel.swift
  AuroraEditor/Base/Version Control/Model/Project History/BranchCommitHistory.swift
  AuroraEditor/Base/Version Control/Model/Project History/ProjectCommitHistory.swift
  AuroraEditor/Base/Version Control/UI/Actions/ActionsListView.swift
  AuroraEditor/Base/Version Control/UI/Actions/ActionsPopoverView.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/ActionsPopoverCellView.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/Workflow/WorkflowMenu.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/Workflow/WorkflowTableViewCell.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/Workflow/WorkflowViewController.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/Workflow/WorkflowWrapperView.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/WorkflowCellView.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/WorkflowJobCell.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/WorkflowRunCell.swift
  AuroraEditor/Base/Version Control/UI/Actions/Sheet/ReRunJobSheetView.swift
  AuroraEditor/Base/Version Control/UI/Actions/WorkflowJob.swift
  AuroraEditor/Base/Version Control/UI/Actions/WorkflowJobsView.swift
  AuroraEditor/Base/Version Control/UI/Actions/WorkflowRunsView.swift
  AuroraEditor/Base/Version Control/UI/Branch/CreateNewBranchView.swift
  AuroraEditor/Base/Version Control/UI/Project History/BranchCommitHistoryView.swift
  AuroraEditor/Base/Version Control/UI/Project History/Cell/CommitHistoryCellView.swift
  AuroraEditor/Base/Version Control/UI/Project History/FilterCommitHistoryView.swift
  AuroraEditor/Base/Version Control/UI/Project History/ProjectCommitHistoryView.swift
  AuroraEditor/Base/Version Control/UI/Remote/AddRemoteView.swift
  AuroraEditor/Base/Version Control/UI/Rename/RenameBranchView.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/Workflow.swift
  AuroraEditor/Services/Model/GitHub/Actions/Workflow/WorkflowRuns.swift
Labels: UI, Version control, bugfix

#253 Improve Editor Performance
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/Extensions/OSDefinitions.swift
  AuroraEditor/Base/Editor/CodeEditorView/Extensions/ScrollView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Editor/EditorLocation.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Editor/LineMap.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Editor/Theme.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/LayoutDelegates/CodeLayoutManager.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/LayoutDelegates/CodeViewDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/CodeStorageDelegate+Messages.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/CodeView+Messages.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/Message.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/MessageInlineView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/MessagePopupView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/MessageView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/StatefulMessageView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorageDelegate+Tokenisation.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorageDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/LanguageConfiguration.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/MutableAttributedString.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/GutterView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/MinimapView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/TextView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/ViewModifiers.swift
  AuroraEditor/Utils/Queue.swift
Labels: enhancement, Editor, bugfix

#256 Add Update Application Feature
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Application/AppDelegate.swift
  AuroraEditor/Base/AppPreferences/Model/AppPreferences.swift
  AuroraEditor/Base/AppPreferences/Model/SettingsModel.swift
  AuroraEditor/Base/AppPreferences/Model/Updates/UpdateModel.swift
  AuroraEditor/Base/AppPreferences/Model/Updates/UpdatePreferences.swift
  AuroraEditor/Base/AppPreferences/UI/GeneralPreferences/GeneralPreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/PreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/UpdatesPreferences/AutomaticallyUpdateSheet.swift
  AuroraEditor/Base/AppPreferences/UI/UpdatesPreferences/UpdatePreferencesView.swift
  AuroraEditor/Base/AppPreferences/UI/UpdatesPreferences/UpdateView.swift
  AuroraEditor/Base/Version Control/Model/Actions/GitHubActionsModel.swift
  AuroraEditor/Services/Manager/AuroraNetworking.swift
  AuroraEditor/Services/Manager/GithubNetworkingConstants.swift
Labels: enhancement, Editor

#259 Cleanup Editor files
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/CodeStorage.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/CodeStorageInsertionPoint.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/CodeStorageTokenAttributes.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/Delegate/CodeStorageDelegate+Tokenisation.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/Delegate/CodeStorageDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage+Language/CodeStorage/Delegate/CodeStorageDelegateCompletions.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Gutter/GutterRect.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Gutter/GutterSharedCode.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Gutter/GutterView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Minimap/MinimapLayoutManager.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Minimap/MinimapTypeSetter.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/EditorAccessories/Minimap/MinimapView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/TextView.swift
  AuroraEditor/Base/Editor/Extensions/CodeEditor+Position.swift
  AuroraEditor/Base/Editor/Extensions/NSTextView.swift
  AuroraEditor/Base/Editor/Extensions/OSDefinitions.swift
  AuroraEditor/Base/Editor/Extensions/ScrollView.swift
  AuroraEditor/Base/Git/UI/Clone/CheckoutBranchView.swift
  AuroraEditor/Utils/Extensions/EnvironmentValues.swift
Labels: documentation, Editor, cleanup

#257 Add option to hide minimap
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/Text Editing/TextEditingPreferences.swift
  AuroraEditor/Base/AppPreferences/UI/TextEditingPreferences/TextEditingPreferencesView.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBarAccessories.swift
Labels: enhancement, Editor

#258 Fix editor background color
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/Base/Documents/UI/EmptyEditorView.swift
  AuroraEditor/Base/Documents/UI/WorkspaceCodeFileView.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
Labels: UI, Editor
