Repository AuroraEditor/AuroraEditor, pull requests merged in 2022-11, with the labels that each got.

#312 Allow access to WorkspaceDocument anywhere in View code
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/CommandPalette/Model/WorkspaceDocument+Commands.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/AuroraCommandBroadcaster.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Documents/UI/WorkspaceCodeFileView.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/InspectorSidebar/UI/InspectorSidebar.swift
  AuroraEditor/Base/InspectorSidebar/UI/QuickHelp/QuickHelpInspector.swift
  AuroraEditor/Base/NavigatorSidebar/Model/FindNavigator/FindNavigatorResultList.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorViewController.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlView.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesWrapperView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/FindNavigator/FindNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/HierarchyNavigator/HierarchyNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebar.swift
  AuroraEditor/Base/NavigatorSidebar/UI/NavigatorSidebarToolbarBottom.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ProjectNavigator/ProjectNavigator.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ProjectNavigator/ProjectNavigatorToolbarBottom.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/Changes/ChangesView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/Repositories/RepositoriesView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/SourceControlNavigator/SourceControlNavigatorView.swift
  AuroraEditor/Base/StatusBar/UI/StatusBar.swift
  AuroraEditor/Base/StatusBar/UI/StatusBarItems/StatusBarCursorLocationLabel.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBar.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
  AuroraEditor/Base/Version Control/UI/Actions/ActionsListView.swift
  AuroraEditor/Base/Version Control/UI/Actions/Cell/Workflow/WorkflowWrapperView.swift
  AuroraEditor/Base/Version Control/UI/Project History/BranchCommitHistoryView.swift
  AuroraEditor/Base/Version Control/UI/Project History/ProjectCommitHistoryView.swift
  AuroraEditor/Utils/SharedObjects.swift
Labels: Editor, Architecture, Inspector, cleanup, Navigator, Extension, Theme, Toolbar, Statusbar

#317 Add bracket depth indicator
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Base/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditor.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/StatusBar/Model/BracketCount.swift
  AuroraEditor/Base/StatusBar/Model/StatusBarModel.swift
  AuroraEditor/Base/StatusBar/UI/StatusBar.swift
  AuroraEditor/Base/StatusBar/UI/StatusBarItems/StatusBarBracketCountLabel.swift
Labels: enhancement, UI, Editor, Toolbar

#318 Add extension page for extensions
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Extensions/Models/Plugin.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Explore/ExploreExtensionsView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionDescriptionView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionHeaderView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionInformationView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionMoreByUserView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionPrivacyView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Extension View/ExtensionWhatsNewView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionInstallationView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigatorView.swift
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Utils/Extensions/String.swift
Labels: enhancement, UI, Extension

#320 FileTypeList updates + renamed `Extensions` to `CodeLanguages`
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+AuroraTheme(Old).swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+VSCode.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader.swift
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/AuroraEditorDocumentController.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Editor/EditorCore/Processing/TokenizedLine.swift
  AuroraEditor/Base/Feedback/Model/FeedbackModel.swift
  AuroraEditor/Base/InspectorSidebar/Models/FileInspector/Lists/FileTypeList.swift
  AuroraEditor/Base/Version Control/UI/Clone/CheckoutBranch.swift
  AuroraEditor/CodeLanguages/JSON.tmLanguage.json
  AuroraEditor/CodeLanguages/JSONC.tmLanguage.json
  AuroraEditor/CodeLanguages/JavaScript.tmLanguage.json
  AuroraEditor/CodeLanguages/JavaScriptReact.tmLanguage.json
  AuroraEditor/CodeLanguages/css.tmLanguage.json
  AuroraEditor/CodeLanguages/docker.tmLanguage.json
  AuroraEditor/CodeLanguages/html-derivative.tmLanguage.json
  AuroraEditor/CodeLanguages/html.tmLanguage.json
  AuroraEditor/CodeLanguages/php.tmLanguage.json
  AuroraEditor/CodeLanguages/ruby.tmLanguage.json
  AuroraEditor/CodeLanguages/swift.tmLanguage.json
  AuroraEditor/CodeLanguages/typeScript.tmLanguage.json
  AuroraEditor/Utils/KeyChain/AuroraEditorKeychain.swift
Labels: Architecture, Inspector, cleanup

#324 Removed optional review
  .github/pull_request_template.md
Labels: enhancement

#323 #315, fixed crash, not the (unloading) problem
  AuroraEditor.xcodeproj/project.pbxproj
  AuroraEditor/.githash
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Extensions/Models/Plugin.swift
  AuroraEditor/Base/NavigatorSidebar/Model/ExtensionNavigator/ExtensionInstallationViewModel.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/Explore/ExploreExtensionsView.swift
  AuroraEditor/Base/NavigatorSidebar/UI/ExtensionNavigator/ExtensionNavigatorView.swift
  AuroraEditor/Utils/BindingProxy.swift
  AuroraEditor/Utils/View+isHidden.swift
Labels: bugfix, Extension

#325 Remove deprecated references
  AuroraEditor/.githash
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/AuroraTheme.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/CodeView+Messages.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Messages/MessageView.swift
  AuroraEditor/Base/Editor/CodeEditorView/Model/Storage/CodeStorageDelegate.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/Extensions/OSDefinitions.swift
Labels: enhancement, Architecture, cleanup

#327 Prepare WorkspaceView for multiple tab storage
  AuroraEditor/.githash
  AuroraEditor/Base/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
Labels: UI, bugfix

#328 Fix swiftlint errors
  .github/FUNDING.yml
  AuroraEditor/Base/AppPreferences/HelperViews/Extensions/Loopable.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/TerminalColors.swift
  AuroraEditor/Base/AppPreferences/Model/ThemePreferences/ThemeJsonLoader/ThemeJsonLoader+AuroraTheme(Old).swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Search.swift
  AuroraEditor/Base/Documents/Model/WorkspaceDocument/WorkspaceDocument+Tabs.swift
  AuroraEditor/Base/Documents/UI/WorkspaceView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeEditorView.swift
  AuroraEditor/Base/Editor/CodeEditorView/UI/CodeView.swift
  AuroraEditor/Base/Editor/UI/CodeFile.swift
  AuroraEditor/Base/Extensions/Models/ExtensionsManager.swift
  AuroraEditor/Base/FileSystemClient/Model/FileItem/FileItem.swift
  AuroraEditor/Base/FileSystemClient/UI/FileIcon.swift
  AuroraEditor/Base/Git/Models/Diff/Raw-Diff.swift
  AuroraEditor/Base/NavigatorSidebar/Model/FindNavigator/SearchResultMatchModel.swift
  AuroraEditor/Base/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyViewController.swift
  AuroraEditor/Base/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesViewController.swift
  AuroraEditor/Base/TabBar/UI/TabBar/TabBarAccessories.swift
  AuroraEditor/Base/TabBar/UI/TabBarContextMenu.swift
  AuroraEditor/Base/Version Control/Model/Client/Helpers/DefaultBranch.swift
  AuroraEditor/Base/Version Control/Model/Client/Rev-List.swift
  AuroraEditor/Base/Version Control/Networking/Router.swift
  AuroraEditor/Services/Manager/AuroraNetworking.swift
  AuroraEditor/Utils/Extensions/String.swift
  AuroraEditor/Utils/Log/Formatter.swift
  AuroraEditor/Utils/Log/Log.swift
Labels: SwiftLint

#331 Added `didActivateTab`, `didDeactivateTab`, #284
  AuroraEditor/.githash
  AuroraEditor/Base/TabBar/Model/TabBarItemID.swift
  AuroraEditor/Base/TabBar/UI/TabBarItem/TabBarItem.swift
Labels: Extension
