Repository AuroraEditor/AuroraEditor, pull requests merged in 2024-07, with the labels that each got.

#717 Cache Git Avatars
  AuroraEditor/Components/CachingAsyncImageView.swift
  AuroraEditor/Components/CachingImageView.swift
  AuroraEditor/Core/Settings/Resources/Localizable.xcstrings
  AuroraEditor/Features/Version Control/Model/Avatar.swift
Labels: Version control, Inspector

#719 Version Control Updates and Bug Fixes
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Core/Documents/Model/AuroraEditorWindow/AuroraDataStorage.swift
  AuroraEditor/Core/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController+NSToolbarDelegate.swift
  AuroraEditor/Core/Documents/Model/AuroraEditorWindow/AuroraEditorWindowController.swift
  AuroraEditor/Core/Documents/Model/WorkspaceDocument/WorkspaceDocument.swift
  AuroraEditor/Core/Documents/UI/WorkspaceView.swift
  AuroraEditor/Core/Documents/Utils/WorkspaceUtils.swift
  AuroraEditor/Core/InspectorSidebar/Models/History/HistoryInspectorModel.swift
  AuroraEditor/Core/InspectorSidebar/UI/History/HistoryInspector.swift
  AuroraEditor/Core/InspectorSidebar/UI/History/HistoryItem.swift
  AuroraEditor/Core/InspectorSidebar/UI/InspectorSidebarToolbar.swift
  AuroraEditor/Core/InspectorSidebar/UI/Popover/PopoverView.swift
  AuroraEditor/Core/NavigatorSidebar/Model/FileSystemTableViewCell.swift
  AuroraEditor/Core/NavigatorSidebar/Model/FindNavigator/FindNavigatorListViewController.swift
  AuroraEditor/Core/NavigatorSidebar/Model/HierarchyNavigator/TabHierarchyTableViewCell.swift
  AuroraEditor/Core/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorOutlineDelegate.swift
  AuroraEditor/Core/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorView.swift
  AuroraEditor/Core/NavigatorSidebar/Model/ProjectNavigator/ProjectNavigatorViewController.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlController.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlModel.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Changes/SourceControlTableViewCell.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesMenu.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoriesTableViewCell.swift
  AuroraEditor/Core/NavigatorSidebar/Model/SourceControlNavigator/Repositories/RepositoryModel.swift
  AuroraEditor/Core/NavigatorSidebar/Model/StandardTableViewCell.swift
  AuroraEditor/Core/NavigatorSidebar/UI/ProjectNavigator/ProjectNavigator.swift
  AuroraEditor/Core/Settings/Resources/Localizable.xcstrings
  AuroraEditor/Core/Toolbar/UI/ToolbarBranchPicker.swift
  AuroraEditor/Features/Version Control/Model/Actions/GitHubActionsModel.swift
  AuroraEditor/Features/Version Control/Model/Client/Core/GitClient.swift
  AuroraEditor/Features/Version Control/Model/Project History/BranchCommitHistory.swift
  AuroraEditor/Features/Version Control/Model/Project History/ProjectCommitHistory.swift
  AuroraEditor/Features/Version Control/Model/VersionControlModel.swift
  AuroraEditor/Features/Version Control/Model/VersionControlMonitor.swift
  AuroraEditor/Features/Version Control/Model/WorkspaceGitStatus.swift
  AuroraEditor/Features/Version Control/UI/Actions/Cell/Workflow/WorkflowTableViewCell.swift
  AuroraEditor/Features/Version Control/UI/Branch/CreateNewBranchView.swift
  AuroraEditor/Features/Version Control/UI/Branch/Toolbar/BranchCell.swift
  AuroraEditor/Features/Version Control/UI/Branch/Toolbar/BranchPopoverList.swift
  AuroraEditor/Features/Version Control/UI/Clone/CheckoutBranch.swift
  AuroraEditor/Features/Version Control/UI/Clone/CheckoutBranchView.swift
  AuroraEditor/Features/Version Control/UI/Project History/ProjectCommitHistoryView.swift
  AuroraEditor/Features/Version Control/UI/Rename/RenameBranchView.swift
  AuroraEditor/Utils/NotificationKeys.swift
  AuroraEditor/Utils/Trie/Trie.swift
  AuroraEditor/Utils/Trie/TrieNode.swift
Labels: documentation, enhancement, Editor, Architecture, Version control, Inspector, cleanup, Navigator

#732 Make CI xcodebuild -quiet
  .github/workflows/build-and-lint.yml
  .github/workflows/build-editor.yml
  .github/workflows/test.yml
Labels: enhancement, GitHub Actions

#738 Extensions: Add event handler support to JSON Views
  Aurora Editor.xcodeproj/project.pbxproj
  AuroraEditor/Core/ExtensionSystem/Models/JavaScript Support/JSSupport.swift
  AuroraEditor/Core/ExtensionSystem/UI/ExtensionCustomView.swift
  AuroraEditor/Extensions/String.swift
Labels: enhancement, Extension

#746 Feature: Allow users to disable syntax highlighting
  Aurora Editor.xcodeproj/project.pbxproj
  Aurora Editor.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  AuroraEditor/Core/Documents/UI/CodeEditorViewWrapper.swift
  AuroraEditor/Core/Settings/Model/AppPreferencesDatabase.swift
  AuroraEditor/Core/Settings/Model/Text Editing/TextEditingPreferences.swift
  AuroraEditor/Core/Settings/Resources/Localizable.xcstrings
  AuroraEditor/Core/Settings/UI/TextEditingPreferences/TextEditingPreferencesView.swift
Labels: Editor, user experience
